<!doctype html>
<html>
  <head>
    <title>About <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=appData.appName%></h1>
    <p>This is a fitness tracking app built for the Dynamic Web Applications module.</p>
    <p><a href="/">Back to Home</a></p>
  </body>
</html>