<!DOCTYPE html>
<html>
<head>
    <title>Home - <%=appData.appName%> </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Welcome to <%=appData.appName%> </h1>
    <nav>
        <p><a href="/about">About</a></p>
        <p><a href="/users/register">Register</a></p>
        <p><a href="/users/login">Login</a></p>
        <p><a href="/users/logout">Logout</a></p>
        <p><a href="/gyms">Find a local gym</a></p>
        <p><a href="/workouts">View your workouts</a></p>
        <p><a href="/exercises/manage">Add exercise to database</a></p>
        <p><a href="/exercises/by-muscle">Search for exercises by muscle</a></p>
        <p><a href="/measurements">View your measurements</a></p>
    </nav>
</body>
</html>