<!DOCTYPE html>
<html>
  <head>
    <title>Log in to <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Login to <%=appData.appName%></h1>
    <form method="POST" action="<%= appData.basePath %>/users/loggedin">
        <p>Username: <input id="username" type="text" name="username" required/></p>
        <p>Password: <input id="password" type="password" name="password" required/></p>
        <input type="submit" value="Login" />
    </form>
    <p><a href="/">Back to Home</a></p>
  </body>
</html>