<!doctype html>
<html>
  <head>
    <title>Register for <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=appData.appName%></h1>
    <form method="POST" action="registered">
        <p>First name: <input id="first" type="text" name="first" required/></p>
        <p>Last name: <input id="last" type="text" name="last" required/></p>
        <p>Email: <input id="email" type="email" name="email" required/></p>
        <p>Username: <input id="username" type="text" name="username" required/></p>
        <p>Password: <input id="password" type="password" name="password" required/></p>
        <input type="submit" value="Register" />
      </form>
  </body>
</html>