h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #2ecc71; /* Forest green */
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: lightblue;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
}

a:link {
    color: #f39c12;
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: #e74c3c;
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: #f39c12;
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: lightblue;
    text-decoration: none;
    padding:5px;
  }

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

